@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
    color: #0e0e0e;
}

/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

body {
    margin: 0 auto;
}

/* tete de page */

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 100px;
}

section.top-page {
    background: url('../images/images 1.jpg');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

/* page de bienvenue (landing page) */

.landing-page {
    position: relative;
    padding: 20px 50px;
}

.big-title {
    color: #090808;
    font-size:  80px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    width: 60%;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
}

nav.nav li a {
    color: #0e0d0d;
    text-decoration: none;
}

/* services */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color: #0e0e0e;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}

/* best sells */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ab23a9;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.bests-items {
    margin: 100px;
}

.meilleurs-modeles {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.lunette-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.lunettes1 {
    background-image: url('../images/images 2.jpg');
}

.lunettes2 {
    background-image: url('../images/images 3.jpg');
}

.lunettes3 {
    background-image: url('../images/images 4.jpg');
}

.lunettes4 {
    background-image: url('../images/images 5.jpg');
}

.lunettes details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.nom-de-modele {
    font-size: 22px;
    font-weight: 600;
    /*line-height: 3px;*/
}

.lunettes-prix {
    color:  #ab23a9;
    /*line-height: 3px;*/
    font-size: 14px;
    font-weight: 800;
}

/* nos plantes */

.toutes {
    margin: 100px;
}

.lunettes-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.lunettes-grid1 {
    background-image: url('../images/images 6.jpg');
    grid-column: 1/3;
    grid-row: 1/3;
}

.lunettes-grid2 {
    background-image: url('../images/images 7.jpg');
    grid-column: 3/5;
}

.lunettes-grid3 {
    background-image: url('../images/images 7.jpg');
    grid-column: 3/5;
}

.lunettes-grid4 {
    background-image: url('../images/images 1.jpg');
    grid-column: 1;
    grid-row: 3/5;
}

.lunettes-grid5 {
    background-image: url('../images/images 3.jpg');
    grid-column: 2/4;
    grid-row: 3/5;
}

.lunettes-grid6 {
    background-image: url('../images/images 2.jpg');
    grid-column: 4;
    grid-row: 3/5;
}

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}